.column-1 {
  background-color: green;
  float:right;
  color:white;
 border:dashed;
  width:40%;
}
.column-2 {
  
  background-color :red ;
  background-image:url("https://octodex.github.com/images/snowoctocat.png");
  float:right;
  color:black;
   width:50%;
}
footer {
  text-align:center;
  clear:both;
  font-family:arial;
}