body {
  max-width: 960px;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

#external-links {
  width: 20%;
  display: inline-block; 
  vertical-align: top;
  padding-right: 5%;
}

main {
  width: 70%;
  display: inline-block;
  vertical-align: top;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 350px) {
  #external-links{
    display: block;
    width: 100%;
  }
  main{
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 250px){
  #external-links h1{
    font-size: 1em;
}
  main > h1 {
    font-size: 1em;
  }
  body {
    font-size: .75em;
  }
}

/* @media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
} */